@model MyASPnet.Models.Product

@{
    ViewData["Title"] = "Delete";
}
    <h1>Remove this item from the list?</h1>
    <div>
        <form asp-action="Delete">
            <input type="submit" value="Yes" class="btn btn-primary mt-3" style="width:150px;"/>
            <a class="btn btn-primary mt-3" asp-action="Index" style="width:150px;">No</a>
        </form>
    </div>

