@model MyASPnet.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="mb-3">
                <input asp-for="Id" class="form-control" disabled/>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
                <a class="btn btn-primary mt-3" asp-action="Index">Back to Product</a>
            </div>
        </form>
    </div>
</div>

